.bg-banner-principal {
    background-image: url(../images/Banner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 7%;
}

.bg-red {
    background-color: #ef382a;
}

.bg-blue {
    background-color: #1f97af;
}

.bg-gray {
    background-color: #a5a5a5;
}

.w-400 {
    width: 400px;
}

.p-custom-1 {
    padding: 0 7%;
}

.h-1 {
    height: 1px;
}

.w-divider {
    width: 25%;
    margin: 0 auto;
}

.text-justify {
    text-align: justify;
}

.left-50 {
    left: 50%;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: #494949;
}