.bg-banner-principal {
    background-image: url(../images/Banner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 5%;
}

.bg-red {
    background-color: #ef382a;
}

.bg-blue {
    background-color: #1f97af;
}

.w-400 {
    width: 400px;
}

.p-custom-1 {
    padding: 0 7%;
}